@font-face {
font-family: "greatvibes";
src: url("GreatVibes-Regular.ttf");
}

@font-face {
font-family: "robotothin";
src: url("Roboto-Thin.ttf");
}

@font-face {
font-family: "robotolight";
src: url("Roboto-Light.ttf");
}

body{
margin:0px;
padding:0px;
background: url("style/bg.jpg");
}

h1{font-size:74px;color:#565656;padding-top:1%;margin:0;font-family:greatvibes;}
h2{font-size:26px;color:#565656;padding-bottom:2%;margin:0;font-family:robotothin;}
p{font-size:22px;color:#565656;font-family:robotolight;}

a{font-size:22px;color:#565656;font-family:robotolight;}
ul{list-style-type:none;margin:0;padding:0;}
li{display:inline;padding-right:3%;}

.nav{
font-size:26px;
margin:0;
padding-left:3%;
padding-right:3%;
padding-top:1.2%;
padding-bottom:1.2%;
position:fixed;
overflow:hidden;
top:0;
width:100%;
}

.navlink{
color:#565656;text-decoration:none;font-family:robotolight;
}

.splash{
background-color:floralwhite;
padding-left:3%;
padding-right:3%;
padding-top:2%;
padding-bottom:100%;}